/**Styles communs à toutes les pages**/

.photo_profil {
    height: 150px;
    width: auto;
    border: dotted 2px grey;
    border-radius: 60px;
}

.titre {
    text-align: center;
    font-size: 50px;
    text-shadow: -2px -2px 2px rgb(61, 61, 140);
}

.menu {
    position: sticky;
    top: 0;
    background-color: white;
    padding: 10px;
    box-shadow: 5px 5px 10px black;
    text-align: center;
}

.menu div nav div {
    display: flex;
    justify-content: space-around;
    background-color: forestgreen;
}

.menu div a {
  text-decoration: none;
  font-size: 20px;
  padding: 15px;
  display:inline-block;
}

.lien_menu:hover {
    background-color: rgb(29, 107, 29);
}

.menu ul {
  display: inline;
  margin: 0;
  padding: 0;
}

.menu ul li {
    display: inline-block;
}

.menu ul li:hover ul {
    display: block;
}

.menu ul li ul {
  position: absolute;
  width: 200px;
  display: none;
}
.menu ul li ul li { 
  background: #555; 
  display: block; 
}
.menu ul li ul li a {
    display:block !important;
}

.menu ul li ul li:hover {
    background: #666;
}


/**Page d'accueil**/

/*Paragraphes déroulants*/

.article-contenu,
.article-contenu2,
.article-contenu3 {
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.article-contenu input[type="checkbox"],
.article-contenu2 input[type="checkbox"],
.article-contenu3 input[type="checkbox"] {
    display: none;
}

.article-contenu input[type="checkbox"]+label,
.article-contenu2 input[type="checkbox"]+label,
.article-contenu3 input[type="checkbox"]+label {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.article-contenu input[type="checkbox"]:checked+label+.texte-complet,
.article-contenu input[type="checkbox"]:checked+label:focus+.texte-complet,
.article-contenu2 input[type="checkbox"]:checked+label+.texte-complet,
.article-contenu2 input[type="checkbox"]:checked+label:focus+.texte-complet,
.article-contenu3 input[type="checkbox"]:checked+label+.texte-complet,
.article-contenu3 input[type="checkbox"]:checked+label:focus+.texte-complet {
    white-space: normal;
}

/**Page activités extra-scolaires**/

.tableau {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bords {
    border: 2px solid #000000;
    border-collapse: collapse;
}

.bords td {
    border: 1px solid #000000;
    border-collapse: collapse;
    padding: 20px;
}

.bords td img {
    text-align: center;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bords th {
    border: 1px solid #000000;
    border-collapse: collapse;
    padding: 50px;
    background-color: rgb(17, 17, 160);
    color: white;
    font-size: large;
    text-align: center;
}

.bords tr {
    border: 1px solid #000000;
    border-collapse: collapse;
}

/**Page images**/

.galerie {
    border-collapse: separate;
    border-spacing: 10px;
    caption-side: bottom;
    background-color: rgb(88, 20, 20);
}

.galerie td {
    background-color: white;
}

td a img {
    text-align: center;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.galerie td {
    border: 1px solid #000000;
    border-collapse: collapse;
    padding: 20px;
}

.galerie tr {
    border: 1px solid #000000;
    border-collapse: collapse;
}