body {}


div.sticky {
    position: -webkit -sticky;
    position: sticky;
    top:0;
    padding: 50px;
    font-size: 20px;
    text-align: center;
    background-color: white;
    box-shadow: 5px 5px 10px black;
    border-color: rgb(223, 32, 32);
}

nav a {
    display: inline;
}

#page_image {
    background-image: linear-gradient(to bottom right, rgb(0, 195, 255), green, yellow);

}

.video_body {
    background-color: rgb(79, 5, 5);
    color: white;
}

.video figcaption {
    float: right;
    width: 30%;
    border: dotted;
    border-color: white;
    background-color: black;
    padding: 7px;
    margin: 10px;
    position: sticky;
}

div.image {
    border: 1px solid #ccc;
    width: 150px;
    margin: 20px 0px;
    text-align: center;
}

.galerie {
    border-collapse: separate;
    border-spacing: 10px;
    caption-side: bottom;
    background-color: rgb(88, 20, 20);
}

.galerie td {
    background-color: white;
}

.cadre {
    padding: 15px;
    margin: 15px;
    background-color: rgb(5, 81, 5);
    color: white;
    font-size: large;
    border: black;
}


div.image a {
    display: inline;
}

.photo {
    float: left;
    width: 150px;
    display: block;
    height: 50px;
}


.menu-rs {
    width: 20%;
    height: 400px;
    border: 3px dashed #000000;
    float: right;
    overflow: hidden;
    padding-top: 5px;
}

section {
    width: 80%;
}

table {
    border: 2px solid #000000;
    border-collapse: collapse;
}

.activite {
    border: 1px solid #000000;
    border-collapse: collapse;
    padding: 50px;
    background-color: rgb(17, 17, 160);
    color: white;
    font-size: large;
    text-align: center;
}

tr {
    border: 1px solid #000000;
    border-collapse: collapse;
}

td {
    border: 1px solid #000000;
    border-collapse: collapse;
    padding: 20px;
}

td a img {
    text-align: center;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.article-contenu,
.article-contenu2,
.article-contenu3 {
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.article-contenu input[type="checkbox"],
.article-contenu2 input[type="checkbox"],
.article-contenu3 input[type="checkbox"] {
    display: none;
}

.article-contenu input[type="checkbox"]+label,
.article-contenu2 input[type="checkbox"]+label,
.article-contenu3 input[type="checkbox"]+label {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.article-contenu input[type="checkbox"]:checked+label+.texte-complet,
.article-contenu input[type="checkbox"]:checked+label:focus+.texte-complet,
.article-contenu2 input[type="checkbox"]:checked+label+.texte-complet,
.article-contenu2 input[type="checkbox"]:checked+label:focus+.texte-complet,
.article-contenu3 input[type="checkbox"]:checked+label+.texte-complet,
.article-contenu3 input[type="checkbox"]:checked+label:focus+.texte-complet {
    white-space: normal;
}