body{
    font-family: Arial, Helvetica, sans-serif;
}

footer{
    text-align: center;
    margin-top:15px;
    padding-top:4px;
    border-top: dashed 1px black;
    font-family: lobster;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    transition: all 1s;
}

footer a:hover{
    color:rgb(142, 142, 249);
}
