@font-face {
    font-family: Roboto-Regular;
    src: local("Roboto-Regular"),
    local("Roboto-Regular"),
    url(Roboto-Regular.ttf);
}   

body {
    height: 2000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:Roboto-Regular;
}

.content {
    width: 85%;
    padding: 2rem;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
    background-color:  lightgrey;
}

.content li {
    text-align: left;
}

.menu {
    height: 4%;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    z-index: 2;
}

.menu nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: black;
}

.menu h2 {
    color: white;
    padding-left: 40px;
    align-self: center;
}

.menu_link {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.menu_link:hover {
    background-color: #555;
    color: white;
}


/********/

nav ul {
    text-align: center;
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    position: relative;
  }
  
  nav ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    color: white;
  }

  nav ul li:hover {
    width: 100%;
    background-color: grey;
  }

  nav ul li:hover .submenu {
    display: block;
  }
  
  .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color:#f1f1f1;
    padding: 0;
  }
  
  .submenu li {
    display: block;
  }
  
  .submenu li a {
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
  }
  
  .submenu li:hover {
    background-color: #f0f0f0;
  }

/********/

h1 {
    font-size: 50px;
}

.jauge-container {
    width: 300px;
    /* Largeur de la jauge */
    height: 20px;
    /* Hauteur de la jauge */
    background-color: #f0f0f0;
    /* Couleur de fond de la jauge */
    border-radius: 10px;
    /* Bord arrondi */
    margin-top: 20px;
    z-index: 0;
}

.jauge-hover {
    position: relative;
    transition: transform 0.3s ease;
    z-index: 0;
}

.jauge-hover:hover {
    transform: scale(1.1);
    z-index: 1;
}

.jauge-hover::after {
    content: attr(data-text);
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: lightblue;
    padding: 5px;
    opacity: 0;
    transition: opacity 0.3s ease, top 0.3s ease;
    z-index: 3;
    white-space: normal;
    word-wrap: break-word;  
}

.jauge-hover:hover::after {
    opacity: 1;
    z-index: 2;
    top: 45px;
}

.jauge-bdd {
    width: 80%;
    /* Largeur de la jauge à modifier selon le niveau */
    height: 100%;
    background-color: #007bff;
    /* Couleur de la jauge */
    border-radius: 10px;
    /* Bord arrondi */
    transition: width 0.5s ease;
    /* Animation de transition */
}

.jauge-poo {
    width: 70%;
    /* Largeur de la jauge à modifier selon le niveau */
    height: 100%;
    background-color: #007bff;
    /* Couleur de la jauge */
    border-radius: 10px;
    /* Bord arrondi */
    transition: width 0.5s ease;
    /* Animation de transition */
}

.jauge-maths {
    width: 90%;
    /* Largeur de la jauge à modifier selon le niveau */
    height: 100%;
    background-color: #007bff;
    /* Couleur de la jauge */
    border-radius: 10px;
    /* Bord arrondi */
    transition: width 0.5s ease;
    /* Animation de transition */
}

.jauge-gpo {
    width: 50%;
    /* Largeur de la jauge à modifier selon le niveau */
    height: 100%;
    background-color: #007bff;
    /* Couleur de la jauge */
    border-radius: 10px;
    /* Bord arrondi */
    transition: width 0.5s ease;
    /* Animation de transition */
}

.contentSQ {
    height: 30vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

#contact {
    background-color: #f1f1f1;
    margin-top: 30px;
    padding: 30px;
    width: 100%;
}

#author {
    font-size: small;
    text-align: center;
}

.underline {
    text-decoration:underline;
}

hr {
    width: 95%;
    border-style:dashed;
    border-width: 1px;
    border-color: grey;
}

#contact hr {
    border-style: solid;
}

#aboutMe img {
    height: 200px;
    width: auto;
    box-shadow: 2px 2px 2px grey;
    border-radius: 100px;
    border-width: 2px;
    border-color: grey;
    border-style: dashed;
}

.souligne {
    text-decoration: underline;
}
