
/** Ce fichier est l'ancienne version de mon CSS pour les pages de mon site, j'ai décidé de tout reprendre dans le fichier mon_style.css. Certains de ces styles sont encore utilisés dans mon_style.css. **/

/*Ancien style pour la page d'accueil*/
.accueil {
    height: 10000px;
    background-image: linear-gradient(to top left, rgba(91, 174, 212, 0.575), white);
}

/*Ancien style pour le survol de liens*/
.lien:hover {
    background: rgba(180, 8, 8, 0.678);
    color: yellow;
}

/*Ancien style pour les liens déjà visités*/
a:visited {
    color :rgb(5, 81, 5);
}
/*
div.sticky {
    position: sticky;
    top:0px;
    padding: 50px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    box-shadow: 5px 5px 10px black;
    border-color: rgb(223, 32, 32);
}
*/
/*
div.sticky nav {
    display: flex;
    justify-content: space-around;
}
*/

/*Ancien style pour le menu*/
header div.sticky nav {
    position: sticky;
    top 0;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: white;
    box-shadow: 5px 5px 10px black;
    border: solid 3px;
    border-color: black;
    padding: 15px;
}

/*Ancien style pour le titre*/
header div.sticky nav h2 {
    font-size: 30px;
    align-self: center;
    color: red;
}

/*Ancien style pour le menu*/
header div.sticky nav p {
    flex: 1;
    align-self: center;
    justify-content: space-around;
}

/*ancien style pour les titres*/
.title {
    font-size: 100px;
    text-align: center;
    color: red;
    text-shadow: 2px 2px 5px rgba(201, 61, 61, 0.774);
}

/*Ancien style pour la page images*/
#page_image {
    background-image: linear-gradient(to bottom right, rgb(0, 195, 255), green, yellow);
}

/*Ancien style pour l'arrière-plan de la page videos*/
.video_body {
    background-color: rgb(79, 5, 5);
    color: white;
}

/*Ancien style pour la légende de la vidéo*/
.video figcaption {
    float: right;
    width: 30%;
    border: dotted;
    border-color: white;
    background-color: black;
    padding: 7px;
    margin: 10px;
    position: sticky;
}

/*Ancien style pour la taille des images*/
div.image {
    border: 1px solid #ccc;
    width: 150px;
    margin: 20px 0px;
    text-align: center;
}

/*Ancien style pour le tableau de la page images*/
.galerie {
    border-collapse: separate;
    border-spacing: 10px;
    caption-side: bottom;
    background-color: rgb(88, 20, 20);
}

/*Ancien style pour les cases du tableau de la page image*/
.galerie td {
    background-color: white;
}

/*Ancien style pour la partie header et footer du tableau*/
.cadre {
    padding: 15px;
    margin: 15px;
    background-color: rgb(5, 81, 5);
    color: white;
    font-size: large;
    border: black;
}

/*Ancien style pour les images*/
div.image a {
    display: inline;
}

/*Ancien style pour la taille des images*/
.photo {
    float: left;
    width: 150px;
    display: block;
    height: 50px;
}


/*.menu-rs {
    width: 20%;
    height: 800px;
    border: 3px dashed #000000;
    float: right;
    overflow: hidden;
    padding-top: 5px;
    text-align: center;
}*/

/*Ancien style pour le menu*/
.menu-rs2 {
    height: 800px;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 3px dashed grey;
    padding: 15px;
}

/*Ancien style pour l'image dans le menu*/
.menu-rs2 img {
    height: 100px;
    width: auto;
}

/*Ancien style pour le png du logo X, était disproportionné par rapport aux autres images*/
#X {
    height: 150px;
    width: auto;
    position: relative;
    right: 25px;
    top: 0px;
}

/*Ancien style pour les informations de contact*/
.contact {
    font-size: 20px;
    text-align: center;
    background-color: white;
}

/*Ancien style pour les tableaux*/
table {
    border: 2px solid #000000;
    border-collapse: collapse;
}

/*Ancien style pour les titres du tableaux de la page activité*/
.activite {
    border: 1px solid #000000;
    border-collapse: collapse;
    padding: 50px;
    background-color: rgb(17, 17, 160);
    color: white;
    font-size: large;
    text-align: center;
}

/*Ancien style pour les cases*/
tr {
    border: 1px solid #000000;
    border-collapse: collapse;
}

/*Ancien style pour les cases*/
td {
    border: 1px solid #000000;
    border-collapse: collapse;
    padding: 20px;
}

/*Ancien style pour les images dans les cases*/
td a img {
    text-align: center;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Ancien style pour les "voir plus"*/
.article-contenu,
.article-contenu2,
.article-contenu3 {
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*Ancien style pour les "voir plus"*/
.article-contenu input[type="checkbox"],
.article-contenu2 input[type="checkbox"],
.article-contenu3 input[type="checkbox"] {
    display: none;
}

/*Ancien style pour les "voir plus"*/
.article-contenu input[type="checkbox"]+label,
.article-contenu2 input[type="checkbox"]+label,
.article-contenu3 input[type="checkbox"]+label {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

/*Ancien style pour les "voir plus"*/
.article-contenu input[type="checkbox"]:checked+label+.texte-complet,
.article-contenu input[type="checkbox"]:checked+label:focus+.texte-complet,
.article-contenu2 input[type="checkbox"]:checked+label+.texte-complet,
.article-contenu2 input[type="checkbox"]:checked+label:focus+.texte-complet,
.article-contenu3 input[type="checkbox"]:checked+label+.texte-complet,
.article-contenu3 input[type="checkbox"]:checked+label:focus+.texte-complet {
    white-space: normal;
}